#BlockContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(128, 128, 128, 0.5);
    cursor: wait;
}

#Loader {
    border: 16px solid rgb(187, 187, 187);
    border-top: 16px solid blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;

    animation-name: UIBlockSpin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes UIBlockSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#Message {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;

    user-select: none;
}