html, body, #root {
    height: 100%;
}

body {
    background-color: white;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}