#ResultField {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding-top: 170px;
}

.ResultItem {
    display: flex;
    justify-content: space-around;

    background-color: #fff;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px;

    user-select: none;

    transition: .2s;

    animation-name: FadeInWithFallDown;
    animation-duration: 1s;
}

@media screen and (max-width: 1300px) {
    .ResultItem {
        width: 80%;
    }
}

@media screen and (max-width: 1150px) {
    .ResultItem {
        width: 90%;
    }
}

.ResultItem:hover {
    transform: scale(1.1);
}

@keyframes FadeInWithFallDown {
    0% {opacity: 0; transform: translateY(-50%);}
    100% {opacity: 1; transform: translateY(0%);}
}

.Field {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.NumberField {
    align-self: center;

    width: 5%;
}

.SpaceField {
    width:20%;
}

@media screen and (max-width: 1000px) {
    #ResultField {
        display: -webkit-inline-box;
        overflow-x: scroll;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    #ResultField::-webkit-scrollbar {
        display: none;
    }

    .ResultItem {
        flex-direction: column;
        align-items: center;

        width: 40%;
        margin-top: 30px;
        margin-left: 20px;
    }

    .Field {
        width: 100%;
    }
}

.Title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

@media screen and (max-width: 700px) {
    .ResultItem {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .ResultItem {
        width: 55%;
    }
}

@media screen and (max-width: 500px) {
    .ResultItem {
        width: 60%;
    }
}

@media screen and (max-width: 450px) {
    .ResultItem {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .ResultItem {
        width: 80%;
    }
}

@media screen and (max-width: 350px) {
    .Title {
        font-size: 16px;
    }
}

.Road, .Space, .UpdateTime {
    padding-bottom: 5px;
}