#Header {
    background-color: #fff;
    padding-left: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#WebSiteTitle {
    font-weight: lighter;
    font-size: 25px;
}

@media screen and (max-width: 400px) {
    #WebSiteTitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    #WebSiteTitle {
        font-size: 16px;
    }
}